/* Reset */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo de forma flexível */
}

.container {
    flex: 1;
}

/* Cabeçalho e rodapé */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
}

.header_teste {
    display: flex;
    gap: 10%;
}

.footer {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 100%;
    gap: 10%;
    box-sizing: border-box;
    margin-top: 5%;
    padding: 5rem 10em 5em;
}
.footer-content {
    color: #FFF;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFF;
}

/* Imagem de quando não tem tarefas adicionadas */
.empty_tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.empty_tasks img {
    width: 10em;
}

.todo {
    color: #333;
    display: flex;
    justify-content: space-between;
}

.todo h3 {
    margin: 0;
    padding: 0.25rem 1rem 0.25rem;
    font-size: 1rem;
}

.finished {
    background-color: #333;
}

.finished h3 {
    color: #FFF;
    text-decoration: line-through;
    font-style: italic;
}
@keyframes error {
    0% {
        border-color: transparent;
        background-color: transparent;
    }
    50% {
        background-color: #0d6efd;
    }
    100% {
        border-color: transparent;
        background-color: transparent;
    }
}
.input-group button.error {
    animation: error 1s ease;
    box-sizing: border-box;
}

button:hover {
    background-color: #333;
}

button:hover > i {
    color: #FFF;
}

button i {
    font-weight: bold;
    /* Usuário clica no botão e não no ícone */
    pointer-events: none;
}